.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 80%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 0%
    right: 10%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 70%
    right: 80%
  &-4
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 61%
    right: 20%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.bg-gradient-izq 
  background: rgb(255,243,205);
  background: linear-gradient(90deg, rgba(255,243,205,.3) 13%, rgba(255,243,205,0) 100%) !important
.bg-gradient-der 
  background: rgb(255,243,205);
  background: linear-gradient(90deg,rgba(255,243,205,0) 13% , rgba(255,243,205,.3) 100%) !important
.titulo-senal
  position: relative
  background-color: $color-secundario

  img
    position: absolute 
    top: 0 
    left: 0
    transform: translateX(-50%)
  h5 
    margin-left: 1.5rem
    margin-right: 1.5rem
.hover-o
  background-color: #e8e8e8
  transition: all .3s ease-in-out
  &:hover
    background-color: #fcc781
.movil1
  background-image: url('../assets/curso/temas/tema2/bg-c-2.svg')
  background-repeat: no-repeat
  background-size: cover
  background-position: center
.banner-interno__fondo
  background-image: url('../assets/curso/portada/bg-interno.png') !important
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $color-sistema-texto
.cajon-1
  .cajon-b.color-primario:before
    background-color: #fff5c5
    height: 100%
    opacity: 1
    width: 28%
.cajon-2
  .cajon-b.color-primario:before
    background-color: #ffedc5
    height: 100%
    opacity: 1
    left: 70%
.cajon-4
  .cajon-b.color-primario:before
    background-color: #ffedc5
    height: 100%
    opacity: 1
    left: 70%
.cajon-3
  .cajon-b.color-primario:before
    width: 28%
    background-color: #ffedc5
    height: 100%
    opacity: 1
.cajon-5
  .cajon-b.color-acento-botones:before
    background-color: #e8e8e8 !important
    height: 100%
    opacity: 1
    width: 28%
.slyder-a__bullets__item
  background-color: #a69d7f
  border: 0
.slyder-a__bullets__item--active
  background-color: #000000
td
  vertical-align: top
.linea-tiempo-d.color-acento-contenido .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
  color: $color-sistema-texto
.linea-tiempo-d__item__content__slot, .linea-tiempo-d__item--selected .linea-tiempo-d__item__content__title
  background-color: #e8e8e8
.linea-tiempo-d__item__content__title
  background-color: #F3F3F3
.banner-principal .tarjeta
  @media (max-width: $bp-max-lg)  
    background-image: url('../assets/curso/portada/portada-m.png') !important
.slyder-a__tipo-b
  
  width: 100%
  @media (max-width: $bp-max-lg) 
    display: flex
    justify-content: center
    transform: scale(0.8)
    margin: 0 auto 
    .slyder-a__btn--sigt, .slyder-a__btn--atrs
      padding: 1.2rem 
      width: 30px
      height: 30px